.a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a1 {
    background-color: #6E0DD0;
    height: 37.26354319180088vw;
    width: 37.26354319180088vw;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border: #099FFF;
}

#hour {
    height: 10.177159590043924vw;
    width: 0.14641288433382138vw;
    border: 0.07320644216691069vw solid black;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    transform: rotate(180deg);
    z-index: 1000;
    position: absolute;
}

#minute {
    height: 13.105417276720353vw;
    width: 0.07320644216691069vw;
    border: 0.07320644216691069vw solid rgb(207, 23, 23);
    background-color:rgb(207, 23, 23) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    transform: rotate(180deg);
    z-index: 900;
    position: absolute;
}

#sec {
    height: 16.03367496339678vw;
    width: 0px;
    border: 0.07320644216691069vw solid rgb(8, 46, 172);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    transform: rotate(180deg);
    z-index: 800;
    position: absolute;
    /* transition: all 1s linear; */
}

.point {
    height: 1vw;
    width: 1vw;
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    z-index: 10001;
    transform: translate(-35%, -50%);
}

.n {
    font-family: 'poppins', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    position: absolute;
    text-align: center;
    /* color: antiquewhite; */
}

.n9 {
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

.n3 {
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
}

.n12 {
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.n6 {
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
}

.n1 {
    top: 7%;
    left: 75%;
    transform: translate(-75%, -7%);
}

.n2 {
    top: 33%;
    left: 88%;
    transform: translate(-33%, -88%);
}

.n4 {
    top: 74%;
    left: 90%;
    transform: translate(-90%, -74%);
}

.n5 {
    top: 93%;
    left: 75%;
    transform: translate(-75%, -93%);
}

.n7 {
    top: 94%;
    left: 28%;
    transform: translate(-28%, -94%);
}

.n8 {
    top: 75%;
    left: 10%;
    transform: translate(-10%, -75%);
}

.n10 {
    top: 27%;
    left: 10%;
    transform: translate(-10%, -27%);
}

.n11 {
    top: 9%;
    left: 25%;
    transform: translate(-25%, -9%);
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 0.7320644216691069vw #fff, 0 0 1.4641288433382138vw #fff, 0 0 2.1961932650073206vw #9900FF, 0 0 2.9282576866764276vw #9900FF, 0 0 3.6603221083455346vw #9900FF, 0 0  4.392386530014641vw #9900FF, 0 0 5.124450951683748vw #9900FF;
    }
    to {
      box-shadow: 0 0 1.4641288433382138vw #fff, 0 0 2.1961932650073206vw #CC00FF, 0 0 2.9282576866764276vw #CC00FF, 0 0 3.6603221083455346vw #CC00FF, 0 0  4.392386530014641vw #CC00FF, 0 0 5.124450951683748vw #CC00FF, 0 0 5.856515373352855vw #CC00FF;
    }
  }

  #digital{
      top: 30%;
      left: 50%;
      transform: translate(-50%,-30%);
      position: absolute;
      font-size: 2.5vw;
      color: rgb(236, 54, 54);
      z-index: 100000;
      font-weight: 600;
  }
